.home-page {
  transform: opacity 500ms;
    
  &.loading {
    opacity: 0.25;
  }
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.booking-option-title {
  @extend .h2;
  display: block;
  margin: 0 0 ($base-size * 2) 0;
    
  > .widget-amount {
    margin: ($base-size * 2) 0 0 0;
  }  
}
    
.page__title {
  @extend .h1;
  margin: 0 0 ($base-size * 4) 0;
  text-align: center;
  font-size: 33px;
  letter-spacing: 4px;
}

/* Box */

.home-starter {
  display: flex;
  margin-left: -24px;
}

.box{
  flex: 1;
  display: inline-block;
  position: relative;
}

.box-photo {
  width: 320px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: $radius;
}

.box-text {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-light;

  p {
    opacity: 0;

    &:hover {
      opacity: 1;
      transition-duration: 1s;
    }
  }

  h2:hover {
    transform: translateY(-20px);
    transition-duration: 1s;

  }
}

.opening-hours {
  width: 100%;
  text-align: center;
  color: $color-light;
  background-color: $color-main;
  padding: 6px;
  border-radius: $radius;
  letter-spacing: 3px;
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    margin: 0;
    font-size: 16px;
    padding-bottom: 3px;
  }

}

/* carousel */

.carousel {
  margin: 65px 0;
}

.carousel-cell {
  display: flex;

  .cell-img {
    flex: 4;

    img {
      width: 300px;
      padding-right: 30px;
    }
  }

  .cell-text {
    flex: 6;

    h3 {
      margin-top: 3px;
      font-size: 20px;
    }
  }
}

/* gallery */

.gallery .container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 60px;
  position: relative;
}
.gallery-icon a {
  font-size: 34px;
  position: relative;
}

.gallery-icon {
  position: absolute;
  text-align: center;
  padding-bottom: 70px;
}

.gallery-img {
  padding: 5px 5px;
 
  img {
    width: 175px;
    height: 175px;
    border-radius: 4px;
    object-fit: cover;
    display: flex;
  }
}

.gallery-img:hover .gallery-icon a{
    opacity: 1;
    color: blue;
}

.fa-heart:hover{
  color: $color-danger;
}
.fa-share-nodes:hover{
  color: $color-danger;
}

.footer a {
  color: $color-main;
}
/* Media */
@media screen and (max-width: 690px) {
  .home-starter {
    justify-content: center;
    display: block;
  }
  
  .carousel {
    justify-content: center;
    
    .cell-text {
      display: block;
    }
  }

  .gallery .img-box {
    justify-content: center;

    .gallery img {
      height: 250px;
      width: 250px;
    }
  }

  .gallery-icon {
    justify-content: center;
  }
  
  .gallery  .footer {
    text-align: center;
  }
}